<!doctype html>
{{> ieshim }}
  <head>
    {{> siteHead }}
    {{> favicons }}
    {{> osProtocol }}
  </head>
  <body>
  {{> browserCheck }}
  {{> navbar }}

    <div class="container">
      {{> about }}


      <hr>
      {{> footer }}
    </div> {{! /container }}
    {{> siteJs }}

  </body>
</html>
