<!doctype html>
{{> ieshim }}
  <head>
    {{> siteHead }}
    {{> favicons }}
    {{> osProtocol }}
  </head>
  <body>
  {{> browserCheck }}
  {{> navbar }}

    <div class="container main">
      {{> about }}

      <hr>
      {{> footer }}
    </div>
    {{> siteJs }}

  </body>
</html>
