<!doctype html>
{{> ieshim }}
  <head>
    {{> siteHead }}
    {{> favicons }}
  </head>
  <body>
  {{> browserCheck }}
  {{> navbar }}

  <div class="container">
    {{> breadcrumb }}
    {{> categories }}
    <hr>
    {{> footer }}
  </div> {{! /container }}
    {{> siteJs }}

  </body>
</html>
