<!doctype html>
{{> ieshim }}
  <head>
    {{> siteHead }}
    {{> photoswipeHead }}
    {{> favicons }}
  </head>
  <body>
  {{> browserCheck }}
  {{> navbar }}

  <div class="container">
    {{> breadcrumb }}
    {{{ contents }}}
    <div class="row">
      <div id="gallery-images" class="gallery">

        {{> galleryCrayon }}

      </div> {{! /.class }}
    </div> {{! /.row }}


    {{> photoswipe }}
    <hr>
    {{> footer }}
  </div> {{! /container }}
    {{> siteJs }}
    {{> galleryJs }}

  </body>
</html>
