<!doctype html>
{{> ieshim }}
  <head>
    {{> photoswipeHead }}
    {{> siteHead }}
    {{> favicons }}
    {{> osProtocol }}
  </head>
  <body>
  {{> browserCheck }}
  {{> navbar }}

  <div class="container main">
    {{{ contents }}}
    {{> gallery }}

    {{> photoswipe }}
    <hr>
    {{> footer }}
  </div> {{! /container }}
    {{> siteJs }}
    {{> galleryJs }}

  </body>
</html>
