<!doctype html>
{{> ieshim }}
  <head>
    {{> photoswipeHead }}
    {{> siteHead }}
    {{> favicons }}
    {{> osProtocol }}
  </head>
  <body>
  {{> browserCheck }}
  {{> navbar }}

  <div class="container">
    {{{ contents }}}
    <div id="c" class="cag">
      {{> gallery }}
    </div> {{! /.gallery }}


    {{> photoswipe }}
    <hr>
    {{> footer }}
  </div> {{! /container }}
    {{> siteJs }}
    {{> galleryJs }}

  </body>
</html>
