<!doctype html>
{{> ieshim }}
  <head>
    {{> photoswipeHead }}
    {{> siteHead }}
    {{> favicons }}
    {{> osProtocol }}
  </head>
  <body>
  {{> browserCheck }}
  {{> navbar }}

  <div class="container main">
      <div id="gallery-images" class="gallery">
        {{> galleryCrayon }}
      </div> {{! /.gallery }}


    {{> photoswipe }}
    <hr>
    {{> footer }}
  </div> {{! /container }}
    {{> siteJs }}
    {{> galleryJs }}

  </body>
</html>
