.grid figure {
  display: none;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.gallery {

}

.one-nine-three {
  max-width: 193px;
}

.grid-item--landscape {
   width: 280px;
   height: 250px;
 }

 .grid-item--portrait {
   width: 180px;
   height: 250px;
 }
