.grid figure {
  display: none;
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #d9d9d9;
}

hr {
  border-top-color: #a6a6a6;
}

div.hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

footer {
  margin-left: 15px;
}

.container.main {
  background-color: rgb(246, 246, 246);
}

.gallery-image-container {
  margin-top: 10px;
}

.gallery-section-heading {
  background-color: #FFF;
  border: 0px;
}

.gallery-section-title {
  margin-top: 10px;
}

.gallery-image-container img {
  height: 50px;
  margin: auto;
}

.grid {

}


/*@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}*/


.grid-item img {
  margin-bottom: 12px;
  margin-right: 12px;
}

.grid-item-landscape img {
   width: 280px;
   height: 250px;
 }

 .grid-item-portrait img {
   width: 180px;
   height: 250px;
 }
