<h3>About the Artist</h3>

<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="thumbnail">
      <img src="{{rootPath}}img/Artist_Picture.jpg" alt="Artist A. Dale DuRee">
      <div class="caption">
        <p>Artist A. Dale DuRee</p>
      </div>
    </div> {{! /.artist-picture }}
  </div> {{! /.col }}

  <div class="col-sm-12 col-md-9">
    <p>{{{ contents }}}</p> {{! contents is text pulled from pages/about.md}}
  </div>
</div> {{! /.row }}
