<div class="row">

  <div class="col-md-3">
    <div class="thumbnail">
        <a href="/art/pencil" >
          <img src="/img/Colored_Pencil.jpg" alt="Art done with colored pencil" />
        </a>
        <div class="caption">
        <h3>Colored Pencil</h3>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/art/crayon" >
        <img src="/img/Crayons.jpg" alt="Art done with Crayons" />
      </a>
      <div class="caption">
        <h3>Crayons</h3>
      </div>
    </div>
  </div>


  </div> {{! /.col }}
</div> {{! /.row }}
