<a href="img/Chipmunks_Picture.jpg" data-size="956x768" data-med="img/Chipmunks_Picture.jpg" data-med-size="956x768" data-author="Dale DuRee" class="demo-gallery__img--main">
  <img src="img/Chipmunks_Thumbnail.jpg" alt="" />
  <figure>This is dummy caption.</figure>
</a>

<a href="img/Moose_Picture.jpg" data-size="613x768" data-med="img/Moose_Picture.jpg" data-med-size="613x768" data-author="Dale DuRee">
  <img src="img/Moose_Thumb.jpg" alt="" />
  <figure>This is dummy caption. It has been placed here solely to demonstrate the look and feel of finished, typeset text.</figure>
</a>


<a href="http://lorempixel.com/g/956/768/cats/5/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/cats/5/" data-med-size="640x480" data-author="Dale DuRee">
  <img src="http://lorempixel.com/g/225/161/cats/5/" alt="" />
  <figure>This is dummy caption. It is not meant to be read.</figure>
</a>


<a href="http://lorempixel.com/g/956/768/cats/4/" data-size="956x768" data-med="http://lorempixel.com/g/640/480/cats/4/" data-med-size="640x480" data-author="Dale DuRee">
  <img src="http://lorempixel.com/g/225/161/cats/4/" alt="" />
  <figure>Dummy caption. It's Greek to you. Unless, of course, you're Greek, in which case, it really makes no sense.</figure>
</a>

<a href="http://lorempixel.com/g/768/956/cats/3/" data-size="768x956" data-med="http://lorempixel.com/g/480/640/cats/3/" data-med-size="480x640" data-author="Dale DuRee">
  <img src="http://lorempixel.com/g/161/225/cats/3/" alt="" />
  <figure>It's a dummy caption. He who searches for meaning here will be sorely disappointed.</figure>
</a>
