<h3>Grumpydale.com</h3>

<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="thumbnail">
      <img src="{{rootPath}}img/logo_artist.jpg" alt="Logo of a little artist">
    </div> {{! /.thumbnail }}
  </div> {{! /.col }}

  <div class="col-sm-12 col-md-9">
    {{{ contents }}} {{! contents is text pulled from pages/index.md}}

    <a href="{{rootPath}}art.html" class="btn btn-primary">Enter the Gallery</a>


    <hr>
    {{! link sharing }}
    <h4>Friends of Grumpydale.com</h4>
    <ul>
      <li><a href="https://www.facebook.com/GalleryNorthwest">Gallery Northwest Coeur d'Alene</a></li>
    </ul>

  </div>
</div> {{! /.row }}
