<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="{{root}}/">Art</a>
    </li>
    <li>
      <a href="{{root}}/about">About the Artist</a>
    </li>
    <li>
      <a href="{{root}}/contact">Contact</a>
    </li>
  </ul>
</div><!--/.navbar-collapse -->
