<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/site.css">
<!-- <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" href="css/theme.css">
<link rel="stylesheet" href="css/main.css">
{{! Photoswipe Core CSS file }}
<link rel="stylesheet" href="vendor/photoswipe/dist/photoswipe.css">
{{! Photoswipe css file (styling of UI, buttons, captions, etc }}
<link rel="stylesheet" href="vendor/photoswipe/dist/default-skin/default-skin.css">
